<!doctype html>
<meta charset=utf-8>
<title>365 x 6</title>
<link rel=stylesheet href="{{ g.static('css/screen.css') }}">
<link rel=stylesheet href="{{ g.static('fancybox/jquery.fancybox-1.3.4.css') }}">
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
<script type="text/javascript" src="{{ g.static('fancybox/jquery.fancybox-1.3.4.js') }}"></script>
<script type="text/javascript" src="http://use.typekit.com/sxq2zrk.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

<style>
</style>

<div id="header">
	<h1><a href="{{ url_for('index') }}">365 x 6</a></h1>
	<ul id="back-foward-nav">
		{% if day.id > 1 %}
		<li id="back-nav"><a href="{{ url_for('view_day', id = day.id - 1) }}">Previous day</a></li>
		{% endif %}
		{% if day.id < current.id %}
		<li id="forward-nav"><a href="{{ url_for('view_day', id = day.id + 1) }}">Next day</a></li>
		{% endif %}
	</ul>
</div>

<div id="set">
    <div>
        {% for name in names %}
        <a class="full" 
            id="{{ name }}_image" 
            href="{{ images[name].fullurl() }}" 
            rel="shots"
            title="Photographer: {{ name }}">
            <img src="{{ images[name].thumburl() }}">
        </a>
        {% endfor %}
    </div>
</div>

<script>

    function fancyboxFormatTitle(title, ary, idx, opts) {
        return '<div class="fancyboxTitle"><span><strong>' + title + '</strong></span></div>'
    }

    $(document).ready(function () {
        $("#set a").fancybox({
            'transitionIn': 'fade',
            'transitionOut': 'fade',
            'speedIn': 200,
            'speedOut': 100,
            'cyclic': true,
            'width': 600,
            'height': 600,
            'overlayShow': true,
            'overlayColor': '#222',
            'overlayOpacity': 0.9,
            'titleShow': true,
            'titlePosition': 'over',
            'onComplete':  function () {
                $('#fancybox-wrap').hover(function () {
                    $('#fancybox-title').show();
                }, function () {
                    $('#fancybox-title').hide();
                })
            }
        })
    })
</script>
